<!DOCTYPE html>
<html>
  <head>
    <title>BooksApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= link_to t('views.common.books'), books_path %>
      <%= link_to t('views.common.users'), users_path %>
      <% if user_signed_in? %>
        <%= link_to t('views.common.user_update'), edit_user_registration_path %>
        <%= link_to t('views.common.logout'), destroy_user_session_path, method: :delete %>
      <% end %>
    </header>

    <%= yield %>
  </body>
</html>
